!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      Git Pusshuten (プッシュ点ー) - #{@item[:title]}
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/coderay.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:name => "description", :content => @item[:description]}/
    %meta{:content => "nanoc 3.1.5", :name => "generator"}/
  %body
    #wrapper
      .heading
        %h2 プッシュ点ー
        %h1
          Git
          %span.highlight Pusshuten
        .text
          %strong Heavenly
          Git-based
          %strong Deployment
      .navigation
        %ul
          %li= custom_link_to 'About', '/about/'
          %li= custom_link_to 'Documentation', '/documentation/'
          %li= custom_link_to 'Guides', '/guides/'
          %li= custom_link_to 'GitHub', 'http://github.com/meskyanichi/gitpusshuten'
      .navigation-graphic
      - if not @item.path =~ /(documentation|guides)/
        .content
          = yield
      - else
        .content
          .details
            %h1= @item[:title]

            = yield
          = render "sidebar_#{$1}"
      %br{:clear=>'all'}/
      .footer
        Michael van Rooijen
    
    :javascript
      var woo_settings = {idle_timeout:'300000', domain:'gitpusshuten.com'};
      (function(){
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
      })();
    