!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      Git Pusshuten (プッシュ天) - #{@item[:title]}
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/coderay.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:name => "description", :content => @item[:description]}/
    %meta{:name => "keywords", :content => @item[:keywords]}/
    %meta{:content => "nanoc 3.1.5", :name => "generator"}/
  %body
    #wrapper
      .heading
        %h2 プッシュ天
        %h1
          Git
          %span.highlight Pusshuten
        .text
          %strong Heavenly
          Git-based
          %strong Deployment
      .navigation
        %ul
          %li= custom_link_to 'About', '/about/'
          %li= custom_link_to 'Documentation', '/documentation/'
          %li= custom_link_to 'Guides', '/guides/'
          %li= custom_link_to 'GitHub', 'http://github.com/meskyanichi/gitpusshuten'
          %li
            :erb
              
      .navigation-graphic
      - if not @item.path =~ /(documentation|guides)/
        .content
          = yield
      - else
        .content
          .details
            %h1= @item[:title]

            = yield
          = render "sidebar_#{$1}"
      %br{:clear=>'all'}/
      .footer
        .copyright
          Copyright &copy; 2010 <a href="http://michaelvanrooijen.com/">Michael van Rooijen</a>
          <a href="http://twitter.com/#!/meskyanichi"><img src="/images/twitter.gif" /></a>
          <a href="http://michaelvanrooijen.com/"><img src="/images/rss.jpg" /></a>
        .donate
          <a href='http://www.pledgie.com/campaigns/13973'><img alt='Click here to lend your support to: Git Pusshuten and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/13973.png?skin_name=chrome' border='0' /></a>
    
    :javascript
      var woo_settings = {idle_timeout:'300000', domain:'gitpusshuten.com'};
      (function(){
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
      })();
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19789975-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();