!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      Git Pusshuten (プッシュ点ー) - #{@item[:title]}
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/coderay.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "nanoc 3.1.5", :name => "generator"}/
  %body
    #wrapper
      .heading
        %h2 プッシュ点ー
        %h1
          Git
          %span.highlight Pusshuten
        .text
          %strong Heavenly
          Git-based
          %strong Deployment
      .navigation
        %ul
          %li= link_to_unless_current 'About', '/about/'
          %li= link_to_unless_current 'Documentation', '/documentation/'
          %li= link_to_unless_current 'Guides', '/guides/'
          %li= link_to 'GitHub', 'http://github.com/meskyanichi/gitpusshuten'
      .navigation-graphic
      .content
        .details
          %h1= @item[:title]
          
          = yield
        .sidebar
          %ul
            %li Installation
            %ul
              %li= link_to 'Git Pusshuten Gem', '/documentation/installation/git-pusshuten-gem/'
            %li Getting Started
            %ul
              %li= link_to 'Initialization', '/documentation/getting-started/initialization/'
              %li= link_to 'Configuration', '/documentation/getting-started/configuration/'
              %li= link_to 'Deployment hooks', '/documentation/getting-started/deployment-hooks/'
              %li= link_to 'Setting up a user', '/documentation/getting-started/setting-up-a-user/'
              %li= link_to 'Pushing your application', '/documentation/getting-started/pushing-your-application/'
            %li (CLI) Commands
            %ul
              %li= link_to 'Help', '/documentation/commands/help/'
              %li= link_to 'Delete', '/documentation/commands/delete/'
              %li= link_to 'Initialize', '/documentation/commands/initialize/'
              %li= link_to 'Push', '/documentation/commands/push/'
              %li= link_to 'Remote', '/documentation/commands/remote/'
              %li= link_to 'User', '/documentation/commands/user/'
              %li= link_to 'Version', '/documentation/commands/version/'
            %li Modules
            %ul
              %li= link_to 'Active Record', '/documentation/modules/active-record/'
              %li= link_to 'Apache', '/documentation/modules/apache/'
              %li= link_to 'Bundler', '/documentation/modules/bundler/'
              %li= link_to 'NginX', '/documentation/modules/nginx/'
              %li= link_to 'Passenger', '/documentation/modules/passenger/'
              %li= link_to 'RVM (Ruby Version Manager)', '/documentation/modules/rvm/'
              
    :javascript
      var woo_settings = {idle_timeout:'300000', domain:'gitpusshuten.com'};
      (function(){
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
      })();
