.sidebar
  %ul
    %li Installation
    %ul
      %li= link_to 'Git Pusshuten Gem', '/documentation/installation/git-pusshuten-gem/'
    %li Getting Started
    %ul
      %li= link_to 'Initialization', '/documentation/getting-started/initialization/'
      %li= link_to 'Configuration', '/documentation/getting-started/configuration/'
      %li= link_to 'Deployment hooks', '/documentation/getting-started/deployment-hooks/'
      %li= link_to 'Setting up a user', '/documentation/getting-started/setting-up-a-user/'
      %li= link_to 'Pushing your application', '/documentation/getting-started/pushing-your-application/'
    %li (CLI) Commands
    %ul
      %li= link_to 'Help', '/documentation/commands/help/'
      %li= link_to 'Delete', '/documentation/commands/delete/'
      %li= link_to 'Initialize', '/documentation/commands/initialize/'
      %li= link_to 'Push', '/documentation/commands/push/'
      %li= link_to 'Remote', '/documentation/commands/remote/'
      %li= link_to 'User', '/documentation/commands/user/'
      %li= link_to 'Version', '/documentation/commands/version/'
    %li Modules
    %ul
      %li= link_to 'Active Record', '/documentation/modules/active-record/'
      %li= link_to 'Apache', '/documentation/modules/apache/'
      %li= link_to 'Bundler', '/documentation/modules/bundler/'
      %li= link_to 'MySQL', '/documentation/modules/mysql/'
      %li= link_to 'Nanoc', '/documentation/modules/nanoc/'
      %li= link_to 'NginX', '/documentation/modules/nginx/'
      %li= link_to 'Passenger', '/documentation/modules/passenger/'
      %li= link_to 'RVM (Ruby Version Manager)', '/documentation/modules/rvm/'